# Cors
Cors__AllowedOrigins=localhost:3000,localhost:4200 #Don't copy this to .env file, this is needed configuration only for production 

# Connection strings for the application
ConnectionStrings__PostgresConnection=Host=localhost;Port=5432;Database=kuvox;Username=kuvox;Password=kuvox
ConnectionStrings__RedisConnection=localhost:6379

# JWT settings
Jwt__Secret=your_jwt_secret_key
Jwt__Issuer=kuvox_api
Jwt__Audience=kuvox_clients
Jwt__AccessTokenMinutes=15
Jwt__RefreshTokenDays=7

# RabbitMQ settings
RabbitMQ__Host=localhost

# Storage settings
Storage__Endpoint=http://localhost:9000

# AI Services settings
AiService__GrpcUrl=http://localhost:50051
